@charset "utf-8";

html,body{
	line-height:28px;
	}



/*-----------*/
/* container */
/*-----------*/
div.container{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	
	}
	
/*-----------*/
/* header */
/*-----------*/
div.header{
	
	}

/*-----------*/
/* container */
/*-----------*/
div.content{
	text-align:justify;
	}